<div class="container">
  <div class="row center-block">
    <h1>
      <div class="col-xs-12 col-centered">
        <%= @campaign.title %>
      </div>
    </h1>
  </div>
  <div class="row center-block">
    <p>
      <div class="col-xs-12 col-centered">
        <%= @campaign.claim %>
      </div>
    </p>
  </div>
</div>


<h1>Support this project</h1>

<!-- <div class="card mt-5" style="width: 20rem;">
     <div class="card-block">
     <h4 class="card-title">
     Make a pledge without reward.
     </h4>
     <a href="#" class="btn btn-primary">Pledge</a>
     </div>
     </div> -->

<% @goodies.each do |goodie| %>

  <div class="card mt-5" style="width: 20rem;">
    <img class="card-img-top" src="<%= image_url(goodie) %>">
    <div class="card-block">
      <h4 class="card-title">
        <%= goodie.title %>
      </h4>
      <p class="card-text"><%= goodie.description %></p>
      <p>Price: <%= goodie.price %></p>
      <!-- TODO: Show only remaining quantity -->
      <p>Quantity: <%= goodie.quantity %></p>
      <%= link_to "Pledge", campaign_goody_orders_path(@campaign, goodie), class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
