%h1= "Goodies for: " + @goodies.first.campaign.title

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Image
      %th Price
      %th Quantity

  %tbody
    - @goodies.each do |goodies|
      %tr
        %td= goodies.title
        %td= goodies.description
        %td= goodies.image
        %td= goodies.price
        %td= goodies.quantity

%h2 Stripe Payment

%h2 Bank Payment

= link_to "Kaufen"
