<div class="container">

  <h2>Verfication</h2>

  <p>
    You have selected the package <b> <%= @goody.title %> </b>.
  </p>

  <p>
    You hereby acknowledge that you will want to pay <b><%= @goody.price %>CHF</b> for it.
  </p>

  <%= simple_form_for [@goody.campaign, @goody, @order] do |f| %>
    <%= f.input :agreement, required: true, label: "I agree and want to support this project" %>
    <%= f.submit %>
  <% end %>

</div>
