<% content_for :main_content_class do %>bg_grey<% end %>

<div class="container">
  <div class="mid_box">
    <div class="top_section mb-4">
      <h1><%= t('.confirmation') %></h1>
      <p>
        <%= t('.selected_package') %> <strong><%= @goody.title %></strong>.
      </p>
      <p>
        <%= raw t('.i_hereby_acknowledge', price: @goody.price, currency: "CHF") %>
      </p>
    </div>

    <%= simple_form_for [@goody.campaign, @goody, @order] do |f| %>
      <%= f.simple_fields_for :supporter do |s| %>
        <div class="row">
          <div class="col-sm-6">
            <%= s.input :first_name, label: t('.first_name') %>
          </div>
          <div class="col-sm-6">
            <%= s.input :last_name, label: t('.last_name') %>
          </div>
        </div>
        <%= s.input :email, label: t('.email') %>
        <%= s.input :date_of_birth, label: t('.date_of_birth'), as: :date, start_year: Date.today.year - 100, end_year: Date.today.year - 10  %>
        <%= s.input :street, label: t('.street') %>
        <div class="row">
          <div class="col-sm-4">
            <%= s.input :postal_code, label: t('.postal_code') %>
          </div>
          <div class="col-sm-8">
            <%= s.input :city, label: t('.city') %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= s.input :state, label: t('.state') %>
          </div>
          <div class="col-sm-8">
            <%= s.input :country, label: t('.country'), selected: "CH" %>
            </div>
        </div>
      <% end %>

      <%- unless @goody.campaign.order_description.blank? %>
        <div class="jumbotron mt-4" id="campaign_order_description">
          <%= raw @goody.campaign.order_description_html %>
        </div>
      <% end %>

      <div class="text-right mb-4">
        <%= f.input :agreement, required: true, label: t('.i_agree').html_safe, input_html: { class: "qa-agreement" } %>
      </div>
      <div class="text-center">
        <%= f.submit t(".create_order"), class: "qa-submit btn btn_theme btn_wide" %>
      </div>
    <% end %>
  </div>
</div>
