<%= javascript_include_tag( 'orders' ) %>

<div class="container">

  <div class="confirmation">
    <h2><%= t('.confirmation') %></h2>

    <p>
      <%= t('.selected_package') %>
      <b> <%= @goody.title %> </b>.
    </p>

    <p>
      <%= raw t('.i_hereby_acknowledge', price: @goody.price, currency: "CHF") %>
    </p>
  </div>

  <%= simple_form_for [@goody.campaign, @goody, @order] do |f| %>

    <%= f.simple_fields_for :supporter do |s| %>

      <%= s.input :first_name %>
      <%= s.input :last_name %>
      <%= s.input :email %>
      <%= s.input :date_of_birth, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year - 10  %>

    <% end %>

    <div class="form-row">
      <label for="card-element">
       <%= t('.credit_card') %>
      </label>
      <div id="card-element">
        <!-- a Stripe Element will be inserted here. -->
      </div>
      <!-- Used to display form errors -->
      <div id="card-errors" role="alert"></div>
    </div>
    <br/>
    <%= f.input :agreement,
                required: true,
                label: t('.i_agree'),
                input_html: { class: "qa-agreement" } %>
    <%= f.submit t(".create_order"),
                 class: "qa-submit btn btn-secondary" %>
  <% end %>

</div>
