<% content_for :main_content_class do %>bg_grey<% end %>


<div class="container">
  <div class="mid_box text-center">
    <div class="top_icon"><%= image_tag('/success.svg') %></div>
    <h1><%= t('.success') %></h1>
    <hr />
    <p class="encouragement">
      <%= t('.text') %>
    </p>
    <p>
      <%= t('.bought_package') %>
      <b> <%= @goody.title %> </b>.
    </p>
    <p>
      <%= link_to t('.back_to_campaign'), @goody.campaign %>
    </p>
  </div>
</div>
