<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwissCrowdfunding</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Open+Sans+Condensed:300,400,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'singles/countdown', media: 'all', 'data-turbolinks-track': 'reload' %>

    <% unless Rails.env.development? %>
      <!-- Global Site Tag (gtag.js) - Google Analytics -->
      <script src="https://www.googletagmanager.com/gtag/js?id=UA-107377421-1"></script>
      <script>
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());
        gtag('config', 'UA-107377421-1');
      </script>
    <% end %>

    <%= render partial: 'shared/favicon' %>

  </head>

  <body class="<%= [controller_name, action_name] * '-' %>">
    <!-- 'data-date' below in format YYYY/MM/DD to decide the countdown date -->
    <div class="your-clock" data-date="2017/11/12"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
    <%= javascript_include_tag 'singles/countdown', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': false %>
  </body>
</html>
