<div class="site-wrapper">
  <div id="campaignsCarousel" class="carousel slide top_carousel mb-5">
    <ol class="carousel-indicators">
      <% @campaigns.each_with_index do |campaign, index| %>
        <li data-target="#campaignsCarousel" data-slide-to="<%= index %>" class='<%= active?(index) %>'></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @campaigns.each_with_index do |campaign, index| %>
        <div class="carousel-item <%= active?(index) %>">
          <div class="bg_img" style="background-image: url('<%= campaign.image.landing_page.url %>')"></div>
          <div class="carousel_text">
            <h2><%= campaign.title %></h2>
            <p class="mt-3 mb-5"><%= campaign.claim %></p>
            <%= link_to t('.view_project'), campaign_path(campaign), class: "btn btn_theme no_trans btn_spacey" %>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#campaignsCarousel" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#campaignsCarousel" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <main class="container mb-3">
    <% unless @campaigns %>
      <%= t('.no_campaigns') %>
    <% end %>
    <div class="row">
      <% @campaigns.each do |campaign| %>
        <%= render partial: 'shared/campaign_card', locals: {campaign: campaign} %>
      <% end %>
      <!-- Show "Coming soon" cards to fill up remaining spots -->
      <% (3 - @campaigns.length).times do |i| %>
        <div class="col-md-4 pb-3">
          <div class="campaign_card coming_soon">
            <div class="text-muted"><%= t '.coming_soon' %></div>
          </div>
        </div>
      <% end %>
    </div>
  </main>
</div>
