%p#notice= notice

- unless @campaign.youtube_url.empty?
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src =>  @campaign.youtube_url, :width => "560"}
- else
  %img{src: "http://placekitten.com/g/560/315"}

%p
  %b Our funding goal is:
  = @campaign.goal

%p
  %b We have reached:
  = @campaign.amount_raised

  %progress{max: @campaign.goal, value: @campaign.amount_raised}

%p
  %b Start:
  = @campaign.start
%p
  %b End:
  = @campaign.end
%p
  %b Title:
  = @campaign.title

%h1 Listing goodies

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Image
      %th Price
      %th Quantity
      %th
      %th
      %th

  %tbody
    - @campaign.goodies.each do |goodie|
      %tr
        %td= goodie.title
        %td= goodie.description
        %td= goodie.image
        %td= goodie.price
        %td= goodie.quantity
