<div class="container">
  <h1 style="margin-left: -3px;"><%= @campaign.title %></h1>
  <p class="small mt-2 mb-4">
    <span class="text_loud_sub"><%= @campaign.claim %></span>
  </p>

  <div class="row">
    <div class="col-md-7 col-lg-8">
      <% unless @campaign.youtube_url.empty? %>
        <div class="embed-responsive embed-responsive-16by9 mb-5">
          <iframe class="embed-responsive-item" height="315" src="<%= @campaign.youtube_url %>" width="560"></iframe>
        </div>
      <% else %>
        <%= image_tag @campaign.image.campaign, class: "mb-5" %>
      <% end %>
    </div>
    <div class="col-md-5 col-lg-4">
      <div class="progress progress_thin mb-1">
        <div class="progress-bar bg_theme" role="progressbar"
             style="width: <%= campaign_percentage(@campaign) %>;"
             aria-valuenow="<%= @campaign.amount_raised %>" aria-valuemin="0" aria-valuemax="<%= @campaign.goal %>">
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <div class="text_loud text_theme"><%= campaign_percentage(@campaign) %></div>
        </div>
        <div class="col text-right funding_goal">
          <div class="small mt-1"><%= t '.funding_goal' %></div>
          <strong><%= number_to_currency(@campaign.goal, precision: 0) %> </strong>
        </div>
      </div>
      <hr/>

      <div class="d-flex align-items-end flex-wrap campaign_stat mb-2">
        <div><%= t '.funding_amount_raised' %></div>
        <div class="text-right number"><%= number_to_currency(@campaign.amount_raised, precision: 0) %></div>
      </div>
      <div class="d-flex align-items-end flex-wrap campaign_stat mb-4">
        <div><%= t '.funding_supporters' %></div>
        <div class="text-right number"><%= @campaign.supporters.count %></div>
      </div>

      <div class="campaign_date mb-4">
        <div class="row mb-2">

          <%- if @campaign.start_date > Date.today %>
            <div class="col qa-time_until_start">
              <span><%= t '.time_until_start', time: distance_of_time_in_words(@campaign.start_date, Date.today) %>
            </div>
          <% end %>

        </div>

        <div class="row mb-2">
          <div class="col-2"><strong><%= t '.start' %></strong></div>
          <div class="col"><%= I18n.l @campaign.start_date %></div>
        </div>
        <div class="row mb-2">
          <div class="col-2"><strong><%= t '.end' %></strong></div>
          <div class="col"><%= I18n.l @campaign.end_date %></div>
        </div>
      </div>

      <div class="mb-3">
        <%= link_to t('.support_the_project'), campaign_goodies_path(@campaign), class: "btn btn_theme btn-lg btn-block qa-support-project #{is_campaign_active?(@campaign)}" %>
      </div>

      <div class="campaign_links mb-4"><!--
                                            <div class="col col-lg-auto pr-0">
                                            <a href="#" class="btn_card"><span class="fa fa-heart mr-2"></span>Remind me</a>
                                            </div> -->
        <div class="row">
          <div class="col">
            <ul>
              <%- unless @campaign.twitter_url.blank? %>
                <li><%= link_to raw('<span class="fa fa-twitter"></span>'), @campaign.twitter_url, target: "_blank", class: "link " %></li>
              <% end %>
              <%- unless @campaign.facebook_url.blank? %>
                <li><%= link_to raw('<span class="fa fa-facebook"></span>'), @campaign.facebook_url, target: "_blank" %></li>
              <% end %>
              <li>
                <%= mail_to @campaign.email,
                subject: "Swiss Crowdfunder: #{@campaign.title}" do %>
                  <span class="fa fa-envelope"></span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <nav class="nav nav-pills nav_underlines mt-5 mt-md-0" id="campaignTab" role="tablist">
       <a class="nav-item nav-link active" id="nav-campaign-tab" data-toggle="tab" href="#nav-campaign" role="tab"
       aria-controls="nav-campaign" aria-expanded="true">Campaign</a>
       <a class="nav-item nav-link" id="nav-faq-tab" data-toggle="tab" href="#nav-faq" role="tab"
       aria-controls="nav-faq">FAQ</a>
       <a class="nav-item nav-link" id="nav-updates-tab" data-toggle="tab" href="#nav-updates" role="tab"
       aria-controls="nav-updates">Updates</a>
       <a class="nav-item nav-link" id="nav-backers-tab" data-toggle="tab" href="#nav-backers" role="tab"
       aria-controls="nav-backers">Backers</a>
       </nav> -->
</div>

<hr class="mt-0 mb-4">

<div class="container">
  <div class="campaign_body">
    <!-- <div class="tab-content" id="nav-tabContent">
         <div class="tab-pane fade show active" id="nav-campaign" role="tabpanel" aria-labelledby="nav-campaign-tab">
         </div>
         </div> -->
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <h2><%= t('.about') %></h2>
        <article>
          <section>
            <%= raw @campaign.description_html %>
          </section>
        </article>
      </div>
      <aside class="col-md-5 col-lg-4">
        <h2><%= t('.goodies') %></h2>
        <% @campaign.goodies.each do |goody| %>
          <%= render partial: 'shared/goody', locals: { goody: goody } %>
        <% end %>
        <!-- <section class="card side_card">
             <div class="card-body">
             <h4 class="card-title strong">Pledge CHF 15 or more</h4>
             <h5>CHF 15 Reward</h5>
             <p class="card-text">
             Receive regular project updates, plus your name listed on DCL website as a member of Glarnercrowd supporters.
             </p>

             <div class="card_point">ESTIMATED DELIVERY</div>
             <time>Sep 2017</time>

             <p class="card_point">200 Backers</p>
             </div>
             <div class="input_iconed">
             <span class="input_icon">$</span>
             <input type="text" class="form-control" placeholder="amount" aria-label="amount" aria-describedby="pledge-input" value="10">
             </div>
             <button class="btn btn_theme btn_bottom">Select</button>
             <button class="btn btn_faded btn_bottom">Select</button>
             </section> -->
      </aside>
    </div>
  </div>
</div>
