%p#notice= notice


/ Main jumbotron for a primary marketing message or call to action
.container
  .row
    %h1
      = @campaign.title

  .row
    %p
      = @campaign.description
  .row
    .col-lg-6
      - unless @campaign.youtube_url.empty?
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src =>  @campaign.youtube_url, :width => "560"}
      - else
        %img{src: "http://placekitten.com/g/560/315"}

    .col-lg-6
      %p
        %b Our funding goal is:
        = @campaign.goal

      %p
        %b We have reached:
        = @campaign.amount_raised

      %progress{max: @campaign.goal, value: @campaign.amount_raised}

      %p
        %b Start:
        = @campaign.start
      %p
        %b End:
        = @campaign.end

      %p
        %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Support the project »
.container

  %hr/


  %h1 Goodies

  .row
    - @campaign.goodies.each do |goodie|
      .col-md-4
        %h2
          = goodie.title
        %p
          = goodie.description
        %p= goodie.image
        %p= goodie.price
        %p= goodie.quantity




  %footer
    %p © 200ok LLC & Ungleich LLC 2017
