<nav class="navbar navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand" href="#">GlarnerCrowd</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Start a Project <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>
    <form class="form-inline my-lg-0 topnav-search">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <h1><%= @campaign.title %></h1>

  <div class="row center-block">
    <p><%= @campaign.claim %></p>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
        <% unless @campaign.youtube_url.empty? %>
          <iframe class="embed-responsive-item" height="315" src="<%= @campaign.youtube_url %>" width="560"></iframe>
        <% else %>
          <img src="http://placekitten.com/g/560/315"/>
        <% end %>
        </div>
    </div>
    <div class="col">
      <p>
        <b>Our funding goal is:</b>
        <%= @campaign.goal %>
      </p>
      <p>
        <b>We have reached:</b>
        <%= @campaign.amount_raised %>
      </p>
      <progress max="<%= @campaign.goal %>" value="<%= @campaign.amount_raised %>"></progress>
      <p>
        <b>Start:</b>
        <%= @campaign.start_date %>
      </p>
      <p>
        <b>End:</b>
        <%= @campaign.end_date %>
      </p>
      <p class="btn btn-primary btn-lg" href="#" role="button">
        <%= link_to "Support the project", campaign_goodies_path(@campaign) %>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h2>Description</h2>
  <%= raw @campaign.description_html %>
</div>

<div class="container">
  <hr/>
  <h1>Goodies</h1>
  <div class="row">
    <% @campaign.goodies.each do |goodie| %>
      <div class="col-md-4">
        <h2>
          <%= goodie.title %>
        </h2>
        <p>
          <%= goodie.description %>
        </p>
        <p>
          <%= goodie.image %>
        </p>
        <p>
          <%= goodie.price %>
        </p>
        <p>
          <%= goodie.quantity %>
        </p>
      </div>
    <% end %>
  </div>
</div>
