<div class="container">
  <div class="row center-block">
    <h1>
      <div class="col-xs-12 col-centered">
        <%= @campaign.title %>
      </div>
    </h1>
  </div>
  <div class="row center-block">
    <p>
      <div class="col-xs-12 col-centered">
        <%= @campaign.claim %>
      </div>
    </p>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <% unless @campaign.youtube_url.empty? %>
        <iframe frameborder="0" height="315" src="<%= @campaign.youtube_url %>" width="560"></iframe>
      <% else %>
        <img src="http://placekitten.com/g/560/315"/>
      <% end %>
    </div>
    <div class="col-lg-6 campaign-statistics">
      <p>
        <b>Our funding goal is:</b>
        <%= @campaign.goal %>
        CHF
      </p>
      <p>
        <b>We have reached:</b>
        <%= @campaign.amount_raised %>
        CHF
      </p>
      <p>
      <progress max="<%= @campaign.goal %>" value="<%= @campaign.amount_raised %>"></progress>
      <%= number_to_percentage(100* (@campaign.amount_raised.to_f / @campaign.goal), precision: 1) %>
      </p>
      <p>
        <b>Start:</b>
        <%= @campaign.start_date %>
      </p>
      <p>
        <b>End:</b>
        <%= @campaign.end_date %>
      </p>
      <p class="btn btn-secondary btn-lg" href="#" role="button">
        <%= link_to "Support the project", campaign_goodies_path(@campaign) %>
      </p>
    </div>
  </div>
</div>

<div class="container description">
  <h1>Description</h1>
  <%= raw @campaign.description_html %>
</div>

<div class="container">
  <h1>Goodies</h1>
  <div class="row">
    <% @campaign.goodies.each do |goody| %>


      <div class="card mt-5" style="width: 20rem;">
        <img class="card-img-top" src="<%= image_url(goody) %>">
        <div class="card-block">
          <h4 class="card-title">
            <%= goody.title %>
          </h4>
          <div class="card-text">
            <p><%= goody.description %></p>
            <p>Price: <%= goody.price %></p>
            <!-- TODO: Show only remaining quantity -->
            <p>Quantity: <%= goody.quantity %></p>
            <%= link_to "Pledge", new_campaign_goody_order_path(@campaign, goody), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>



    <% end %>
  </div>
</div>
