<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Crowdfunding</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://js.stripe.com/v3/"></script>

    <% unless Rails.env.development? %>
      <!-- Global Site Tag (gtag.js) - Google Analytics -->
      <script src="https://www.googletagmanager.com/gtag/js?id=UA-107377421-1"></script>
      <script>

       function gtag(){dataLayer.push(arguments)};
       gtag('js', new Date());

       gtag('config', 'UA-107377421-1');
      </script>
    <% end %>
  </head>

  <body class="<%= [controller_name, action_name] * '-' %>">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">
              <%= link_to image_tag("fridolin.png", width: 39, height: 46), root_path %>
            </h3>
            <nav class="nav nav-masthead navbar-expand">
              <ul class="navbar-nav">
                <li>
                  <%= link_to t('.home'),
                  root_path,
                  class: "nav-link #{current_page?(root_path) ? 'active' : ''}" %>
                </li>
                <li class="ml-2">
                  <a class="nav-link" href="#">
                    <%= t(".contact") %>
                  </a>
                </li>
                <div class="collapse navbar-collapse ml-2" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= t('.language') %>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <%= link_to "Deutsch", request.params.merge(locale: :de) %>
                        <%= link_to "English", request.params.merge(locale: :en) %>
                      </div>
                    </li>
                  </ul>
                </div>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <main class="container">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </body>

  <footer class="footer">
    <div class="container">
      <span class="muted">© 200ok GmbH & Ungleich GmbH 2017</span>
      <span class="qa-about-us"><%= link_to t(".about-us"), static_about_us_path %></span>
      <span class="qa-tos"><%= link_to t(".terms-of-service"), static_about_us_path %></span>
    </div>
  </footer>
</html>
