<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Crowdfunding</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://js.stripe.com/v3/"></script>

    <% unless Rails.env.development? %>
      <!-- Global Site Tag (gtag.js) - Google Analytics -->
      <script src="https://www.googletagmanager.com/gtag/js?id=UA-107377421-1"></script>
      <script>

       function gtag(){dataLayer.push(arguments)};
       gtag('js', new Date());

       gtag('config', 'UA-107377421-1');
      </script>
    <% end %>

  </head>
  <body class="<%= [controller_name, action_name] * '-' %>">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">
              <%= link_to image_tag("fridolin.png", size: 46), root_path %>
            </h3>
            <nav class="nav nav-masthead">
              <%= link_to "Home",
              root_path,
              class: "nav-link #{current_page?(root_path) ? 'active' : ''}" %>
              <a class="nav-link" href="#">Contact</a>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <main class="container" >
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </body>


  <footer class="footer">
    <div class="container">
      <span class="muted">© 200ok LLC & Ungleich LLC 2017</span>
    </div>
  </footer>
</html>
